.benefits {
    color: #ffffff;
    margin-top: 6.4rem;
    padding-bottom: 6.5rem;
}

.benefits__list {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 3rem;
}

.benefits__item {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1.1rem;
}

.benefits__icon {
    width: 41px;
    height: 41px;
    fill: #ffffff;
}

@media (max-width: 768px) {
    .benefits {
        display: none;
    }
}