.btn {
    display: inline-block;
    padding: 21px 41px;
    color: #000000;
    background-color: #FEDB3F;
    border-radius: 100px;
    font-weight: 800;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}

.btn:focus {
    outline: 3px solid #FFD517;
}

.btn:hover {
    background-color: #FFD517;
}