.btn {
    display: inline-block;
    padding: 2.1rem 4.1rem;
    color: #000000;
    background-color: #FEDB3F;
    border-radius: 100px;
    font-weight: 800;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    border: .1rem solid transparent;
    outline: none;
}

.btn:focus {
    outline: .3rem solid #FFD517;
}

.btn:hover {
    background-color: #FFD517;
}