.catalog {
    background: linear-gradient(0deg, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%), url("../../img/catalog_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    align-items: stretch;
    position: relative;
    height: 100%;
}

.catalog .section__title {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 5;
}

.catalog__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    overflow: hidden;
    z-index: 10;
}

.catalog__title {
    color: #ffffff;
    writing-mode: vertical-lr;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog__item {
    display: flex;
    overflow: hidden;
}

.catalog__header {
    font-size: 4.8rem;
    font-weight: 700;
    padding: 4rem 2.2rem 2rem 2.2rem;
    transform: rotate(180deg);
}

.catalog__content {
    background: rgba(51, 53, 55, 0.9);
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 0;
    transition: width 4s ease;
    padding: 6% 10% 6% 10%;
}

.catalog__text {
    overflow: hidden;
}

@media (max-width: 480px) {
    .catalog__header {
        font-size: 4rem;
    }
    // .catalog__item {
    //     flex-shrink: 1;
    // }
    // .catalog__item--active {
    //     flex-shrink: 0;
    //     order: 1;
    //     width: 100%;
    // }
    .catalog__header {
        position: relative;
        z-index: -1;
    }
    // .catalog__item--active .catalog__header {
    //     flex-shrink: 1;
    //     z-index: 10;
    // }
}