.features {
    padding-top: 10.5rem;
}

.features__list {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 11.2rem;
}

.features__item {
    position: relative;
}

.features__item::after {
    content: url('../img/features-separator.svg');
    position: absolute;
    top: 6rem;
    right: -3.4rem;
}

.features__item:last-child::after {
    display: none;
}

@media (max-width: 768px) {
    .features__item::after {
        display: none;
    }
}

@media (max-width: 480px) {
    .features__list {
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .features__list {
        margin-bottom: 0;
    }
}