.features {
    padding-top: 105px;
}

.features__list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 112px;
}

.features__item {
    position: relative;
}

.features__item::after {
    content: url('../img/features-separator.svg');
    position: absolute;
    top: 60px;
    right: -34px;
}

.features__item:last-child::after {
    display: none;
}