.header {
    background: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 2.4rem 0 0 0;
}

.header__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__topline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 10.2rem;
}

.header__logo {
    justify-self: start;
}

.header__phone {
    justify-self: end;
}

.header__menu-icon {
    display: none;
    justify-self: end;
    svg {
        width: 26px;
        height: 24px;
        fill: #ffffff;
    }
}

@media (max-width: 768px) {
    .header {
        background-position: left 100% top 50px;
    }
    .header__topline {
        justify-content: space-between;
        background-color: #1968B1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 2.4rem;
    }
    .header__menu-icon {
        display: block;
    }
    .header__phone {
        display: none;
    }
    .header__nav {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        background-position: left 80% top 50px;
    }
}

@media (max-width: 320px) {
    .header__topline {
        padding: 1.4rem;
        margin-bottom: 0;
    }
}