.header {
    background: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 2.4rem 0 0 0;
}

.header__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__topline {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 10.2rem;
}

.header__logo {
    justify-self: start;
}

.header__phone {
    justify-self: end;
}