.nav__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 30px;
}

.nav__link {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
}