.order {
    background-image: url("../img/order_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    position: relative;
}

.order::before {
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, .6);
    padding: inherit;
    position: absolute;
}

.order__container {
    position: relative;
    z-index: 2;
}