.pager {}

.pager__list {
    display: flex;
    justify-content: center;
    gap: .6rem;
    overflow: hidden;
}

.pager__link {
    display: block;
    border: .6rem solid transparent;
    border-radius: 50%;
}

.pager__img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
}

.pager__link--active,
.pager__link:hover {
    border: .6rem solid #FEDB3F;
}