.phone {
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
}

.phone__link {
    font-weight: bold;
    font-size: 2.2rem;
    color: #ffffff;
}

.phone__icon {
    margin-right: 5px;
    width: 13px;
    height: 14px;
    fill: #ffffff;
}

.phone__icon--dark {
    fill: #292929;
}