.product {
    display: flex;
    justify-content: center;
    gap: 5.5rem;
    width: 100%;
}

.product__img {
    background-image: url("../img/board-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    overflow: hidden;
    img {
        transform: rotate(30deg);
        max-width: 15rem;
        max-height: 53.5rem;
        object-fit: none;
        overflow: hidden;
    }
}

.product__descr {
    width: 50%;
}

.product__btn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: .7rem;
    align-items: center;
    justify-items: center;
    background-color: #3A587E;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4rem;
    color: #ffffff;
    text-transform: uppercase;
    padding: 17px 7px 12px 5px;
    margin-bottom: 5.2rem;
    border-radius: 4px;
    position: relative;
}

.product__btn:hover {
    background-color: #3465A3;
}

.product__btn:hover .product__info {
    left: 100%;
    opacity: 1;
}

.product__title {
    color: #292929;
    font-weight: bold;
    font-size: 3.6rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

.product__text {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
}

.product__options {
    margin-bottom: 2.4rem;
}

.product__price {
    white-space: nowrap;
    p {
        font-weight: 300;
        font-size: 6rem;
        color: #151515;
        display: inline-block;
        vertical-align: middle;
        margin-right: 2.8rem;
    }
}

.product__info {
    cursor: text;
    transition: opacity .7s;
    position: absolute;
    opacity: 0;
    left: -9999px;
    top: 0;
}

@media (max-width: 768px) {
    .product {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .product__img {
        max-width: 250px;
        overflow: visible;
        img {
            overflow: visible;
            max-width: 11.6rem;
            max-height: 41.4rem;
            object-fit: contain;
        }
    }
    .product__btn {
        display: none;
    }
    .product__descr {
        width: 75%;
    }
    .product__options {}
}

@media (max-width: 480px) {
    .product__img {
        img {
            max-width: 9.2rem;
            max-height: 32.9rem;
            object-fit: contain;
        }
    }
    .product__descr {
        width: 85%;
    }
    .product__price {
        white-space: normal;
    }
}