.shop {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: 5.5rem;
}

.shop__item {
    margin-bottom: 5rem;
}

.shop__arrow {
    margin-left: 10%;
}

@media (max-width: 768px) {
    .shop {}
}