.team__list {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 5.3rem;
}

.team__item {
    max-width: 220px;
    text-align: center;
    margin-bottom: 6rem;
}

.team__item:hover .team__header::after {
    transform: rotate(-180deg);
}

.team__img {
    margin-bottom: 2.1rem;
}

.team__content {
    color: #292929;
}

.team__header {
    font-size: 2.1rem;
    margin-bottom: .8rem;
}

.team__header::after {
    content: '';
    display: inline-block;
    background-image: url("../img/polygon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: .9rem;
    height: .9rem;
    margin-left: .4rem;
    transition: transform .3s ease;
}

.team__prof {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: .4rem;
    overflow: hidden;
}

.team__text {
    color: #666666;
    font-weight: 300;
    font-size: 1.8rem;
    overflow: hidden;
}

@media (max-width: 940px) {
    .team__list {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .team__item {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    .team__prof {
        font-weight: bold;
    }
    .team__title {
        order: 1;
    }
    .team__img {
        display: none;
        order: 2;
    }
    .team__content {
        display: none;
        order: 3;
    }
    .team__item:hover>.team__img,
    .team__item:hover>.team__content {
        display: block;
    }
}