.team__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 5.3rem;
}

.team__item {
    text-align: center;
    margin-bottom: 6rem;
}

.team__item:hover .team__header::after {
    transform: rotate(-180deg);
}

.team__item:hover .team__prof,
.team__item:hover .team__text {
    opacity: 1;
}

.team__img {
    margin-bottom: 2.1rem;
}

.team__content {
    color: #292929;
}

.team__header {
    font-size: 2.1rem;
    margin-bottom: .8rem;
}

.team__header::after {
    content: '';
    display: inline-block;
    background-image: url("../img/polygon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: .9rem;
    height: .9rem;
    margin-left: .4rem;
    transition: transform .3s ease;
}

.team__prof {
    opacity: 0;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: .4rem;
    transition: opacity .3s ease;
}

.team__text {
    opacity: 0;
    color: #666666;
    font-weight: 300;
    font-size: 1.8rem;
    transition: opacity .8s ease;
}