.team__container {
    padding: 0;
}

.team__list {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 5.3rem;
    flex-wrap: wrap;
}

.team__item {
    max-width: 220px;
    text-align: center;
    margin-bottom: 6rem;
    cursor: pointer;
}

.team__img {
    margin-bottom: 2.1rem;
}

.team__content {
    color: #292929;
    overflow: hidden;
    transition: height .4s ease;
}

.team__header {
    font-size: 2.1rem;
    margin-bottom: .8rem;
}
.team__arrow {
    display: inline-block;
    background-image: url('../img/polygon.svg');
    width: .9rem;
    height: .9rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: .4rem;
    transition: transform .5s ease;
}

.team__content--active {
    overflow: visible;
}

.team__arrow--active {
    transform: rotate(180deg);
}


.team__prof {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: .4rem;
    overflow: hidden;
}

.team__text {
    color: #666666;
    font-weight: 300;
    font-size: 1.8rem;
    overflow: hidden;
}

@media (max-width: 768px) {
    .team__list {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .team__item {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    .team__prof {
        font-weight: bold;
    }
    .team__title {
        order: 1;
    }
    .team__img {
        display: none;
        order: 2;
    }
    .team__content {
        display: none;
        order: 3;
    }
}

@media (max-width: 768px) {
    .team {
        padding-top: 175px;
        padding-bottom: 157px;
    }
}