* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Alegreya Sans', sans-serif;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: inline-block;
    vertical-align: middle;
    min-width: 100%;
}

.wrapper {
    height: 100%;
    overflow: hidden;
}

.wrapper__content {
    height: 100%;
    transition: transform 1s;
    will-change: transform;
}

.container {
    width: 95%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 2rem;
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 1rem;
    }
    .wrapper {
        height: auto;
    }
    .wrapper__content {
        height: auto;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 480px;
        padding: 0;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 9px;
    }
    .container {
        width: 100%;
        max-width: 310px;
    }
}