.page-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 5rem;
}

.page-nav__list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.page-nav__item {
    width: 1.6rem;
    height: 1.6rem;
    background-color: transparent;
    border: .2rem solid transparent;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.page-nav__link {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    background-color: #ffffff;
    border-radius: 50%;
}

.page-nav__item:hover,
.page-nav__item:focus,
.page-nav__item--active {
    border: .2rem solid #ffffff;
}

.page-nav__list--dark .page-nav__item .page-nav__link {
    background-color: #666666;
}

.page-nav__list--dark .page-nav__item:hover,
.page-nav__list--dark .page-nav__item:focus,
.page-nav__list--dark .page-nav__item--active {
    border: .2rem solid #666666;
}

@media (max-width: 768px) {
    .page-nav {
        display: none;
    }
}