.page-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
}

.page-nav__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.page-nav__item {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.page-nav__link {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translateY(1px);
}

.page-nav__item:hover,
.page-nav__item:focus,
.page-nav__item--active {
    border: 2px solid #ffffff;
}